.title {
  text-align: center;
  font-weight: bolder;
}
/* .border {
<<<<<<< HEAD
    border: 1px solid dimgray;
  } */
=======
  border: 1px solid dimgray;
} */
>>>>>>> c77dae2e9364eb2aa200e16746ecdcbba7af189e
.image {
  cursor: pointer;
  margin-right: 7px;
}

.image :hover {
  background-color: dimgray;
}

.email {
  word-wrap: break-word;
  margin-bottom: 15px;
}
