.title {
  text-align: center;
  font-weight: bolder;
}
/* .border {
  border: 1px solid dimgray;
} */
.image {
  cursor: pointer;
  margin-right: 7px;
}

.image :hover {
  background-color: dimgray;
}

.email {
  word-wrap: break-word;
  margin-bottom: 15px;
}
