<<<<<<< HEAD
.selectContainer {
  display: flex;
  justify-content: flex-end;
  /* transform: translateY(25px); */
}

=======
>>>>>>> c77dae2e9364eb2aa200e16746ecdcbba7af189e
.selectWrap {
  display: flex;
  flex-direction: row;
  width: auto;
  white-space: nowrap;
  align-items: center;
}
.selectWrap > span {
  font-weight: bold;
  text-align: right;
  margin-right: 7px;
  margin-left: 7px;
}
