.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
}
<<<<<<< HEAD
.utilyWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
=======
.selectContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.switchContainer {
  display: flex;
  align-items: center;
}

.switchContainer > span {
  font-weight: bold;
  margin-right: 10px;
}
>>>>>>> c77dae2e9364eb2aa200e16746ecdcbba7af189e
